In [2]:
# fetch data from mysql and create dataframe
import pandas as pd
import mysql.connector as my

conn=my.connect(host="localhost",user="root",password="root",database="inder")
cur=conn.cursor()
q="select * from employee"
cur.execute(q)
r=cur.fetchall()
df1=pd.DataFrame(r)
print(df1)

   0       1      2
0  1   inder  10002
1  2  akshay  10001

In [3]:
# fetch data from url and create dataframe
import pandas as pd
df1=pd.read_csv("https://www1.ncdc.noaa.gov/pub/data/cdo/samples/PRECIP_HLY_sample_csv.csv")
print(df1)

       STATION     STATION_NAME  ELEVATION  LATITUDE  LONGITUDE  \
0  COOP:310301  ASHEVILLE NC US      682.1   35.5954   -82.5568
1  COOP:310301  ASHEVILLE NC US      682.1   35.5954   -82.5568
2  COOP:310301  ASHEVILLE NC US      682.1   35.5954   -82.5568

             DATE   HPCP Measurement Flag Quality Flag
0  20100101 00:00  99999                ]
1  20100101 01:00      0                g
2  20100102 06:00      1

In [2]:
# first 5 data,last 5 data,size of row and column,information,description
# head(5),tail(5),shape(),info(),describe()
import pandas as pd
from tabulate import tabulate
data = pd.read_json("Sample Json with 200 Records.json")
r = []
for i in range(len(data)):
    temp = []
    df = data.loc[i]
    d = df[0]
    id = d["id"]
    name = d["name"]
    title = d["title"]
    description = d["description"]
    location = d["location"]
    temp = [id, name, title, location]
    r.append(temp)
df1 = pd.DataFrame(r, columns=["id", "name", "title", "location"])
print(df1.head(5))
print(df1.tail(5))
print(df1.shape)
print(df1.info())
print(df1.describe())

     id   name       title                                           location
0  2140  manoj          gj            Hermannplatz 5-6, 10967 Berlin, Germany
1  2139  manoj         dfg       443 N Rodeo Dr, Beverly Hills, CA 90210, USA
2  2138  manoj  TEst Video  IFFCO Chowk Flyover, Heritage City, Sector 29,...
3  2137  manoj          QQ              2001 NV-582, Las Vegas, NV 89101, USA
4  2136  manoj          gj             103 B100, Anglesea VIC 3230, Australia
     id         name                                          title location
195  53  Aakankshi 1                                        new one        h
196  52  Aakankshi 1                                        new one      ind
197  51  Aakankshi 1                                         ssfdfd        h
198  50  Aakankshi 1                                      Test Code        g
199  49  Aakankshi 1  A mobile phone is a wireless handheld device      INDI
(200, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        200 non-null    int64
 1   name      200 non-null    object
 2   title     200 non-null    object
 3   location  200 non-null    object
dtypes: int64(1), object(3)
memory usage: 6.4+ KB
None
                id
count   200.000000
mean   1412.300000
std     687.080438
min      49.000000
25%    1067.750000
50%    1092.500000
75%    2115.250000
max    2140.000000

In [3]:
# read data from excel sheet xlsx(install xlrd, openpyxl)
import pandas as pd
df1=pd.read_excel("Book1.xlsx")
print(df1)

  name  roll class
0  abc     1    fy
1  xyz     2    sy
2  pqr     3    fy
3  sdf     4    ty
4  grt     5    sy
5  esf     6    ty
6  gbr     7    sy
7  fas     8    ty
8  tsv     9    ty
9  fce    10    fy

In [5]:
# write dataframe to xlxs and csv
import pandas as pd
import random
df1=pd.DataFrame([random.randint(i,60)for i in range (30,60)],columns=["Age"])
print(df1)
df1.to_csv("test.csv",index=False)
df1.to_excel("test.xlsx",index=False)
df1.to_excel("test1.xls",index=False)

    Age
0    30
1    48
2    60
3    34
4    59
5    59
6    56
7    54
8    52
9    54
10   54
11   47
12   46
13   43
14   56
15   56
16   60
17   49
18   53
19   49
20   57
21   59
22   56
23   54
24   59
25   56
26   58
27   60
28   60
29   60

<ipython-input-5-e7b9cb9735ee>:8: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df1.to_excel("test1.xls",index=False)

In [6]:
# write dataframe to sql
import pandas as pd
import random
import sqlalchemy
engine = sqlalchemy.create_engine('mysql://root:root@localhost/inder')
df1=pd.DataFrame([random.randint(i,60)for i in range (30,60)],columns=["Age"])
print(df1)
df1.to_sql('emp_age',engine,if_exists='replace')

    Age
0    30
1    50
2    57
3    59
4    36
5    44
6    37
7    59
8    60
9    42
10   59
11   53
12   50
13   52
14   47
15   55
16   53
17   53
18   48
19   57
20   50
21   51
22   57
23   58
24   56
25   60
26   58
27   58
28   60
29   59

In [7]:
# create a dataframe of 100 datas and write to xls,csv,sql
# '''
# empid(1-100)    empname(5-12)   salary(30000-50000)
# '''
import random
import pandas as pd
import string
import sqlalchemy
engine = sqlalchemy.create_engine('mysql://root:root@localhost/inder')
a=random.randint(5,12)
data1={"id":[i for i in range(1,101)],"name":[''.join(random.choices(string.ascii_lowercase, k=a)) for i in range(1,101)], "salary":[random.randint(30000, 50000) for i in range(1,101)]}
df1=pd.DataFrame(data1)
print(df1)
df1.to_sql('emp_data',engine,if_exists='replace')
df1.to_csv("test21.csv",index=False)
df1.to_excel("test21.xlsx",index=False)
df1.to_excel("test22.xls",index=False)

     id      name  salary
0     1  hslnsttg   40299
1     2  qfbuepss   43045
2     3  btkbabmw   49466
3     4  igrkvrpd   41105
4     5  exyhdoty   37066
..  ...       ...     ...
95   96  aujnshsu   36599
96   97  ccrhbvbe   35906
97   98  gsazzgqa   31857
98   99  uomdzhfu   31335
99  100  rvuboslz   33534

[100 rows x 3 columns]

<ipython-input-7-0ade9c6febe4>:17: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df1.to_excel("test22.xls",index=False)